# Project exclude paths
/canal_clientedu/target/
/common/common-utils/target/
/common/service_base/target/
/service/service-ucenter/target/
/service/service_admin/target/
/service/service_blog/target/
/service/service_cms/target/
/service/service_edu/target/
/service/service_msm/target/
/service/service_order/target/
/service/service_oss/target/
/service/service_statistics/target/
/service/service_vod/target/